ion-card {
    border-radius: 15px;
    padding: 10px;
    min-height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.158);
    background: var(--ion-color-light-tint);
}

ion-card:hover {
    cursor: pointer;
    background: var(--ion-color-light);
}

.title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    line-height: 20px;
}

#palabras {
    color: var(--ion-color-light-contrast);
    margin-bottom: 10px;
}

.task-btn {
    --width: 130px;
    width: 130px;
    white-space: nowrap;
}

.buttons-container {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.empty {
    padding-top: 15vh;
}

ion-icon.xd {
    font-size: 64px;
    color: var(--ion-color-medium); // 👈 GRIS, se ve en ambos modos
}

h4 {
    color: var(--ion-color-medium);
    margin-top: 10px;
}
